@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HAS Technology and Engineering<br />
    İstanbul, Ataşehir<br />
    <abbr title="Phone">P:</abbr>
    554 690 7573
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@hasengineer.com">support@hasengineer.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@hasengineer.com">marketing@hasengineer.com</a><br />
    <strong>Management:</strong> <a href="mailto:fatih.has@hasengineer.com">fatih.has@hasengineer.com</a>
</address>